@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@* Here the "Title" variable is being declared along with any other variable you want to make dynamic >>*@
@{
    ViewData["Title"] = "Maryn's Dreams";
}


<h1>Maryn</h1>
<p>This is me and my husband in the mountains freezing our tails off.</p>
<img src="img/DSC_5942.jpg" style="height: 300px">
<p>
    I hope to be more fluent in C# and ASP.NET <br />
    than any other language we have learned so far.<br />
    I have not put as much effort into learning Python <br />
    and JavaScript, but I want to repent by putting a <br />
    lot of effort into learning and practicing<br />
    the skills we learn in this class.
</p>
<h2>My Top 3 Job Picks</h2>
<ol>
    <li>Software Developer</li>
    <li>Database Engineer</li>
    <li>Cyber Security White Hat Hacker</li>
</ol>


